body {
    font-family: "Courier New", Arial, sans-serif;
    background-color: silver;
    margin: 0;
    padding: 20px;
  }
  h1 {
    color: #333;
    font-family: "Courier New", Courier, monospace;
  }
  h2 {
    font-size: x-large;
  }
  p a {
    color: black;
    font-weight: bold;
  }
  .event {
    border: 1px solid black;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  .event-date,
  .event-title,
  .event-description,
  .event-location {
    margin: 5px 0;
  }
  .event-title {
    font-size: 20px;
  }
  .site-footer {
    background-color: black;
    color: silver;
    text-align: center;
    padding: 15px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    margin-top: 40px; /* Adds space above the footer */
  }
  #summary {
    padding-top: 20px;
  }
  #navbar {
    display: flex; 
    list-style: none; 
    gap: 10px; 
    padding: 0; 
    margin: 0;
  }
  #navbar li {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 3px;
  }
  #navbar li a {
    color: white;
    text-decoration: none;
  }
  #title {
    margin-bottom: 0;
    line-height: 1;
    font-size: 35px;
  }
  #subtitle {
    margin-top: 0;
    margin-bottom: 40px;
  }
  #event-list {
    list-style: none;
    padding: 0;
    padding-top: 15px;
  }
  